<div>
	<a href="/" class="btn btn-primary" title="メニューへ戻る">メニューへ戻る</a>
</div>
<div>
	<table class="table table-striped">
		<tbody>
{{range $i, $post := .}}
			<tr>
				<td>
					<div>
						<a href="{{$post.BrandUrl}}" target="_blank">{{$post.BrandName}}</a>
						{{if $post.IsNewPost}}<span class="label label-default">New</span>{{end}}
					</div>
					<div>
						{{$post.CommentNo}} ： <a href="{{$post.Url}}" target="_blank">{{$post.Title}}</a>
					</div>
					{{if ne $post.RefNo ""}}
					<div>
						&gt;<a href="{{$post.RefUrl}}" target="_blank">{{$post.RefNo}}</a>
					</div>
					{{end}}
					<div>
						{{$post.Detail}}
					</div>
					<div>
						{{formatTime $post.PostTime}}
					</div>
				</td>
			</tr>
{{end}}
		</tbody>
	</table>
</div>