<div>
	<a href="{{.ReturnPath}}" class="btn btn-primary" title="戻る">戻る</a>
</div>
<div>
	<table class="table table-striped">
		<tbody>
{{range $i, $post := .Dto}}
			<tr>
				<td>
					<div>
						<a href="{{$post.BrandUrl}}" target="_blank">{{$post.BrandName}}</a>
						{{if $post.IsNewPost}}<span class="label label-default">New</span>{{end}}
					</div>
					<div>
						{{$post.CommentNo}} ： <a href="{{$post.Url}}" target="_blank">{{$post.Title}}</a>
					</div>
					{{if ne $post.RefNo ""}}
					<div>
						&gt;<a href="{{$post.RefUrl}}" target="_blank">{{$post.RefNo}}</a>
					</div>
					{{end}}
					<div>
						{{$post.Detail}}
					</div>
					<div>
						{{formatTime $post.PostTime}}
					</div>
				</td>
			</tr>
{{end}}
		</tbody>
	</table>
</div>
<div class="text-center">
	<ul class="pagination">
{{if .Pagination.PrevEnabled}}
		<li><a href="{{printf .Pagination.Path .Pagination.PrevPage}}">&laquo;</a></li>
{{else}}
		<li class="disabled"><a href="#">&laquo;</a></li>
{{end}}
{{$current := .Pagination.Current}}
{{$path := .Pagination.Path}}
{{range $i, $page := .Pagination.Pages}}
	{{if eq $page $current}}
		<li class="active"><a href="{{printf $path $page}}">{{$page}}<span class="sr-only">(current)</span></a></li>
	{{else}}
		<li><a href="{{printf $path $page}}">{{$page}}</a></li>
	{{end}}
{{end}}
{{if .Pagination.NextEnabled}}
		<li><a href="{{printf .Pagination.Path .Pagination.NextPage}}">&raquo;</a></li>
{{else}}
		<li class="disabled"><a href="#">&raquo;</a></li>
{{end}}
	</ul>
</div>
